body {
    background-color: #EDF1D6;
    font-family: 'Tilt Neon', cursive;
}

h1 {
    padding-bottom: 10px;
    padding-right: 10px;
    color: #40513B;
    font-family: 'Tilt Warp', cursive;
}

h4, form, .flash {
    color: #609966;
}

a {
    color: #7A765D;
}

table {
    width: 100%;
}

th {
    padding-right: 50px;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #609966;
    font-size: 18px;
}

td {
    padding-bottom: 20px;
    padding-right: 50px;
    padding-top: 20px;
}

.table-data {
    border-bottom: 1px solid;
    border-collapse: collapse;
    border-color: #40513B;

}

.tag-color {
    padding-right: 70px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.btn-outlined-success {
    color: #7A765D;
}

.strikeout {
   background-image: linear-gradient(transparent calc(50% - 1px), black, transparent calc(50% + 1px));
   opacity: 0.5;
}